* {
  box-sizing: border-box;
}

body {
  margin: 0;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.general-container {
  display: flex;
  align-items: center;
  flex: 1;
}

.board-container {
  border: 1px solid red;
  width: 500px;
  height: 500px;
  display: grid;
  grid-template-rows: repeat(10, 1fr);
  grid-template-columns: repeat(10, 1fr);
}

.ships-container {
}

.board-cell {
  width: 50px;
  height: 5 0px;
  border: 1px solid red;
}
